.nav {
  display: flex;
  justify-content: space-between;
  }

.nav__link:hover {
  color: #2F80ED;
}

.nav__links {
  display: flex;
  list-style-type: none;
  align-items: center;
  column-gap: 20px;
  margin-right: 80px;
}
